body {
  background: blanchedalmond;
}

* {
  border: 1px solid black;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a, .c  {
  flex-grow: 1;
}

.b {
  flex-grow:3;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .a, .b {
    margin: 1em;
  }
}