body {
  background: papayawhip;
  }

  * {
    border: 1px solid black;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .a {
    flex-grow: 1;
  }
  
  .b {
    flex-grow:3;
    width: 80%;
  }

  .c, .d, .e{
    flex-direction: row;
    width: 25%;
    max-height: 20vh;
    justify-content: space-between;
    }
  
    .f {
      flex-basis: 15%;
      min-width: 15%;
      flex-grow: 1;
      max-height: 10vh;
      }
  
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    .a, .f {
      width: 100%;
    }
  }

    
   
